
<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">




	<section class="content">


		<!-- Page Content Here -->

		<div class="row" data-ng-controller="RouteController">

			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-body">
						<div class="col-xs-6 col-sm-4 col-md-2">
							<div class="btnnew-group ">
								<button type="button" class="btnnew btn-default">
									<i class="fa fa-chevron-left"></i>
								</button>
								<div class="btnnew ">
									<h5>DAYS</h5>
								</div>
								<button type="button" class="btnnew btn-default">
									<i class="fa fa-chevron-right"></i>
								</button>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-2">
							<div class="btnnew-group ">
								<button type="button" class="btnnew btn-default">
									<i class="fa fa-chevron-left"></i>
								</button>
								<div class="btnnew">
									<h5>WEEK</h5>
								</div>
								<button type="button" class="btnnew btn-default">
									<i class="fa fa-chevron-right"></i>
								</button>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-2">
							<div class="btnnew-group ">
								<button type="button" class="btnnew btn-default">
									<i class="fa fa-chevron-left"></i>
								</button>
								<div class="btnnew">
									<h5>MONTH</h5>
								</div>
								<button type="button" class="btnnew btn-default">
									<i class="fa fa-chevron-right"></i>
								</button>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-2">
							<div class="btnnew-group ">
								<button type="button" class="btnnew btn-default">
									<i class="fa fa-chevron-left"></i>
								</button>
								<div class="btnnew">
									<h5>YEAR</h5>
								</div>
								<button type="button" class="btnnew btn-default">
									<i class="fa fa-chevron-right"></i>
								</button>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-4"></div>
						<div class="col-xs-12 col-sm-12 col-md-4">
							<div class="form-group">
								<div class="input-group" >
									<div class="input-group-addon">
										<i class="fa fa-clock-o"></i>
									</div>
									<!-- DateRange Picker -->
									<input data-type="daterange" class="form-control pull-right"
										data-ng-model="myDateRange" /> <span class="input-group-btn">
										<button type="button" class="btn btn-info btn-flat"
											data-ng-click="getDate(myDateRange.startDate,myDateRange.endDate)">
											<b>Go</b>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="row" data-ng-controller="RouteController">
			<div class="col-md-2">
				<div class="box box-widget widget-user-2">
					<div class="widget" style="text-align: center">
						<h4 class="widget-user">Actual Consumption</h4>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-sm-12">
								<div class="description-block">
									<h3 class="bignumber" data-ng-init="gettag15()">

										{{tagValue15| number : 2}}<span class="smalltag"><br>
											KWH</span>
									</h3>
									<div class="progress sm">
										<div class="progress-bar progress-bar-aqua"
											style="width: 25.6%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="box box-widget widget-user-2">
					<div class="widget" style="text-align: center">
						<h4 class="widget-user">Budget Consumed</h4>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-sm-12">
								<div class="description-block">
									<h3 class="bignumber" data-ng-init="gettag16()">

										{{tagValue16| number : 1}}<span class="smalltag"><br>
											%</span>
									</h3>
									<div class="progress sm">
										<div class="progress-bar progress-bar-red" style="width: 73%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="box box-widget widget-user-2">
					<div class="widget" style="text-align: center">
						<h4 class="widget-user">Average Daily Load</h4>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-sm-12">
								<div class="description-block">
									<h3 class="bignumber" data-ng-init="gettag17()">

										{{tagValue17| number : 2}}<span class="smalltag"><br>
											KWH</span>
									</h3>
									<div class="progress sm">
										<div class="progress-bar progress-bar-green"
											style="width: 36%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="box box-widget widget-user-2">
					<div class="widget" style="text-align: center">
						<h4 class="widget-user">Working Hours</h4>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-sm-12">
								<div class="description-block">
									<h3 class="bignumber" data-ng-init="gettag18()">

										{{tagValue18| number : 1}}<span class="smalltag"><br>
											%</span>
									</h3>
									<div class="progress sm">
										<div class="progress-bar progress-bar-yellow"
											style="width: 17%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="box box-widget widget-user-2">
					<div class="widget" style="text-align: center">
						<h4 class="widget-user">Per Capita Consumed</h4>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-sm-12">
								<div class="description-block">
									<h3 class="bignumber" data-ng-init="gettag19()">

										{{tagValue20| number : 2}}<span class="smalltag"><br>
											KWH</span>
									</h3>
									<div class="progress sm">
										<div class="progress-bar progress-bar-green"
											style="width: 48.20%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="box box-widget widget-user-2">
					<div class="widget" style="text-align: center">
						<h4 class="widget-user">Sq Ft Consumption</h4>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-sm-12">
								<div class="description-block">
									<h3 class="bignumber" data-ng-init="gettag20()">

										{{tagValue19| number : 2}}<span class="smalltag"><br>
											KWH</span>
									</h3>
									<div class="progress sm">
										<div class="progress-bar progress-bar-yellow"
											style="width: 55%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>




	<section class="content">
		<div class="row" data-ng-controller="chartController"
			style="width: 100%;">

			<div class="col-md-6">


				<div class="box box-primary">
					<div class="box-body">
						<div class="box-header with-border">
							<h3 class="box-title">Energy Consumption</h3>

						</div>
						<div class="box-body" style="display: block;">
							<canvas id="line" class="chart chart-line" data-chart-data="data"
								data-chart-labels="labels" data-chart-series="series"
								data-chart-colors="colors"
								data-chart-dataset-override="datasetOverride">
                </canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="box box-primary">
					<div class="box-body">
						<div class="box-header with-border">
							<h3 class="box-title">Areawise Plan vs Actual Consumption</h3>

						</div>
						<div class="box-body" style="display: block;">

							<canvas id="bar" class="chart chart-bar" data-chart-data="data"
								data-chart-labels="labels" data-chart-series="series"
								data-chart-colors="colors"
								data-chart-dataset-override="datasetOverride">
                </canvas>
						</div>
					</div>
				</div>
			</div>
		</div>



	</section>
	<!-- /.content -->


	<!-- <div data-ng-controller="ChartController">

		<div data-ac-chart="'bar'" data-ac-data="data" data-ac-config="config"
			class="chart"></div>
	</div> -->



</div>
<!-- /.content-wrapper -->