
<div class="content-wrapper">
	<section class="content" style="min-height: 675px">

		<!-- Your Page Content Here -->

		<div class="row">
			<div class="col-md-4" data-ng-controller="RouteController">
				<!-- Widget: user widget style 1 -->
				<div class="box box-widget widget-user-2">
					<!-- Add the bg color to the header using any of the bg-* classes -->


					<div class="widget-user-header" data-ui-sref="area"
						style="cursor: pointer; color: #444"
						onmouseover='this.style.color="#48f"'
						onmouseout='this.style.color="#444"'>

						<div class="widget-user-image">
							<img src="dist/img/building01.png" alt="User Avatar">
						</div>
						<!-- /.widget-user-image -->
						<h2 class="widget-user-username">Crown Plaza</h2>
						<h4 class="widget-user-desc">AL WAHDAH, Abu Dhabhi</h4>
					</div>

					<div class="box-footer">
						<div class="row">
							<div class="col-sm-6 border-right">
								<div class="description-block" data-ng-init="gettag15()">
									<h3 style="height: 60px;">Actual Consumption</h3>
									<p class="bignumber">
										{{(myDateRange.tagValue15)| number : 2}}<span class="smalltag"><br>
											KWH</span>
									</p>
									<div class="progress sm">
										<div class="progress-bar progress-bar-green"
											style="width: 80%"></div>
									</div>
								</div>
								<!-- /.description-block -->
							</div>
							<!-- /.col -->
							<div class="col-sm-6 border">
								<div class="description-block" data-ng-init="gettag15()">
									<h3 style="height: 60px;">Average Daily Load</h3>
									<p class="bignumber">
										{{(myDateRange.tagValue15)/(((myDateRange.endDate-myDateRange.startDate)/(60
										* 60 * 1000))/24)| number : 2}}<span class="smalltag"><br>
											KWH</span>
									</p>
									<div class="progress sm">
										<div class="progress-bar progress-bar-red" style="width: 80%"></div>
									</div>
								</div>
								<!-- /.description-block -->
							</div>
							<!-- /.col -->

							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
				</div>
				<!-- /.widget-user -->
			</div>
			<div class="col-md-4" data-ng-controller="RouteController">
		
				<!-- Widget: user widget style 1 -->
				<div class="box box-widget widget-user-2">
					<!-- Add the bg color to the header using any of the bg-* classes -->


					<div class="widget-user-header" data-ui-sref="area"
						style="cursor: pointer; color: #444"
						onmouseover='this.style.color="#48f"'
						onmouseout='this.style.color="#444"'>

						<div class="widget-user-image">
							<img src="dist/img/building02.png" alt="User Avatar">
						</div>
						<!-- /.widget-user-image -->
						<h2 class="widget-user-username">Lite Plaza</h2>
						<h4 class="widget-user-desc">AL ROWDAH, Abu Dhabhi</h4>
					</div>

<div>
      <input type="button" ng-click="myDateRange.stopTimer()" value="Stop Count">
    </div>

					<div class="box-footer">
						<div class="row">
							<div class="col-sm-6 border-right">
								<div class="description-block" data-ng-init="gettag16()">
									<h3 style="height: 60px;">Actual Consumption</h3>
									<p class="bignumber">
										{{(myDateRange.tagValue16)| number : 2}}<span class="smalltag"><br>
											KWH</span>
									</p>
									<div class="progress sm">
										<div class="progress-bar progress-bar-green"
											style="width: 80%"></div>
									</div>
								</div>
								<!-- /.description-block -->
							</div>
							<!-- /.col -->
							<div class="col-sm-6 border">
								<div class="description-block" data-ng-init="gettag16()">
									<h3 style="height: 60px;">Average Daily Load</h3>
									<p class="bignumber">
										{{(myDateRange.tagValue16)/(((myDateRange.endDate-myDateRange.startDate)/(60
										* 60 * 1000))/24)| number : 2}}<span class="smalltag"><br>
											KWH</span>
									</p>
									<div class="progress sm">
										<div class="progress-bar progress-bar-red" style="width: 80%"></div>
									</div>
								</div>
								<!-- /.description-block -->
							</div>
							<!-- /.col -->

							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
				</div>
				<!-- /.widget-user -->
			</div>
			<div class="col-md-4" data-ng-controller="RouteController">
				<!-- Widget: user widget style 1 -->
				<div class="box box-widget widget-user-2">
					<!-- Add the bg color to the header using any of the bg-* classes -->


					<div class="widget-user-header" data-ui-sref="area"
						style="cursor: pointer; color: #444"
						onmouseover='this.style.color="#48f"'
						onmouseout='this.style.color="#444"'>

						<div class="widget-user-image">
							<img src="dist/img/building03.png" alt="User Avatar">
						</div>
						<!-- /.widget-user-image -->
						<h2 class="widget-user-username">Mega Plaza</h2>
						<h4 class="widget-user-desc">AL MUSHRIF, Abu Dhabhi</h4>
					</div>

					<div class="box-footer">
						<div class="row">
							<div class="col-sm-6 border-right">
								<div class="description-block" data-ng-init="gettag17()">
									<h3 style="height: 60px;">Actual Consumption</h3>
									<p class="bignumber">
										{{(myDateRange.tagValue17)| number : 2}}<span class="smalltag"><br>
											KWH</span>
									</p>
									<div class="progress sm">
										<div class="progress-bar progress-bar-green"
											style="width: 80%"></div>
									</div>
								</div>
								<!-- /.description-block -->
							</div>
							<!-- /.col -->
							<div class="col-sm-6 border">
								<div class="description-block" data-ng-init="gettag17()">
									<h3 style="height: 60px;">Average Daily Load</h3>
									<p class="bignumber">
										{{(myDateRange.tagValue17)/(((myDateRange.endDate-myDateRange.startDate)/(60
										* 60 * 1000))/24)| number : 2}}<span class="smalltag"><br>
											KWH</span>
									</p>
									<div class="progress sm">
										<div class="progress-bar progress-bar-red" style="width: 80%"></div>
									</div>
								</div>
								<!-- /.description-block -->
							</div>
							<!-- /.col -->

							<!-- /.col -->
						</div>

						<!-- /.row -->
					</div>
				</div>
				<!-- /.widget-user -->
			</div>

			<div style="clear: both;"></div>
		</div>



	</section>

</div>