
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller="SiteController">




	<section class="content">

		<!-- Page Content Here -->

		<div class="row">

			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-body">
						<div class="col-xs-6 col-sm-4 col-md-2">
							<div class="btnnew-group ">
								<!-- 	<button type="button" class="btnnew btn-default">
									<i class="fa fa-chevron-left"></i>
								</button>
								<div class="btnnew ">
									<h5>DAYS</h5>
								</div>
								<button type="button" class="btnnew btn-default">
									<i class="fa fa-chevron-right"></i>
								</button> -->
							</div>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-2">
							<div class="btnnew-group ">
								<!-- <button type="button" class="btnnew btn-default" data-ng-click="getBWeek()">
									<i class="fa fa-chevron-left"></i>
								</button>
								<div class="btnnew">
									<h5>WEEK</h5>
								</div>
								<button type="button" class="btnnew btn-default" data-ng-click="getFWeek()">
									<i class="fa fa-chevron-right"></i>
								</button> -->
							</div>
						</div>


						<div class="col-xs-12 col-sm-12 col-md-4"></div>
						<div class="col-xs-12 col-sm-12 col-md-4">
							<div class="form-group" style="font-family: sans-serif;">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-clock-o"></i>
									</div>
									<!-- DateRange Picker -->
									<input style="font-family: sans-serif;" data-type="daterange"
										class="form-control pull-right" data-enableTimePicker="true"
										data-ranges="ranges" data-enableAutoApply="true"
										data-ng-model="myDateRange" data-enableDropdowns="true" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-info btn-flat"
											data-ng-click="getDate(myDateRange.startDate,myDateRange.endDate)">
											<b>Go</b>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="row">
			<div class="col-md-2">
				<div class="box box-widget widget-user-2">
					<div class="widget" style="text-align: center">
						<h4 class="widget-user">Actual Consumption</h4>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-sm-12">
								<div class="description-block">
									<h3 class="bignumber" data-ng-init="gettag15()">

										{{(tagValue15)| number : 2}}<span class="smalltag"><br>
											KWH</span>
									</h3>
									<div class="progress sm">
										<div class="progress-bar progress-bar-aqua"
											style="width: 25.6%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="box box-widget widget-user-2">
					<div class="widget" style="text-align: center">
						<h4 class="widget-user">Budget Consumed</h4>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-sm-12">
								<div class="description-block" data-ng-init="gettag15()">
									<h3 class="bignumber">

										{{(tagValue15)*12| number : 2}}<span class="smalltag"><br>
											AED</span>
									</h3>
									<div class="progress sm">
										<div class="progress-bar progress-bar-red" style="width: 73%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="box box-widget widget-user-2">
					<div class="widget" style="text-align: center">
						<h4 class="widget-user">Average Daily Load</h4>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-sm-12">
								<div class="description-block" data-ng-init="gettag15()">
									<h3 class="bignumber">

										{{(tagValue15)/(((myDateRange.endDate-myDateRange.startDate)/(60
										* 60 * 1000))/24)| number : 2}}<span class="smalltag"><br>
											KWH</span>
									</h3>
									<div class="progress sm">
										<div class="progress-bar progress-bar-green"
											style="width: {{(myDateRange.tagValue15)/(((myDateRange.endDate-myDateRange.startDate)/(60* 60* 1000))/24)| number: 2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="box box-widget widget-user-2">
					<div class="widget" style="text-align: center">
						<h4 class="widget-user">Working Hours</h4>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-sm-12">
								<div class="description-block" data-ng-init="gettag15()">
									<h3 class="bignumber">

										{{(endDate-startDate)/(60 * 60 * 1000)| number : 0}}<span
											class="smalltag"><br> Hours</span>
									</h3>
									<div class="progress sm">
										<div class="progress-bar progress-bar-yellow"
											style="width: 17%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="box box-widget widget-user-2">
					<div class="widget" style="text-align: center">
						<h4 class="widget-user">Per Capita Consumed</h4>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-sm-12">
								<div class="description-block">
									<h3 class="bignumber" data-ng-init="gettag15()">

										{{(tagValue15)/10.43| number : 2}}<span class="smalltag"><br>
											KWH</span>
									</h3>
									<div class="progress sm">
										<div class="progress-bar progress-bar-green"
											style="width: 48.20%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="box box-widget widget-user-2">
					<div class="widget" style="text-align: center">
						<h4 class="widget-user">Sq Ft Consumption</h4>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-sm-12">
								<div class="description-block">
									<h3 class="bignumber" data-ng-init="gettag15()">

										{{(tagValue15)*4.26| number : 2}}<span class="smalltag"><br>
											KWH</span>
									</h3>
									<div class="progress sm">
										<div class="progress-bar progress-bar-yellow"
											style="width: 55%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>




	<section class="content">
		<div class="row" style="width: 100%;">

			<div class="col-md-6">


				<div class="box box-primary">
					<div class="box-body">
						<div class="box-header with-border">
							<h3 class="box-title">Energy Consumption</h3>

						</div>
						<div class="box-body" style="display: block;"
							data-ng-init="getAreaCharts(startDate,endDate)">
							<div class="chartWrapper">
								<div class="chartAreaWrapper">
									<canvas id="line" class="chart chart-line"
										data-data="chart1_data" data-labels="chart1_label"
										data-series="chart1_series" data-colours="chart1_colours"
										data-options="options" width="15000" height="290">
                </canvas>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="box box-primary">
					<div class="box-body">
						<div class="box-header with-border">
							<h3 class="box-title">Actual Consumption vs Areawise Plan </h3>

						</div>
						<div class="box-body" style="display: block;"
							data-ng-init="getBarCharts(startDate,endDate)">
							<div class="chartWrapper">
								<div class="chartAreaWrapper">

									<canvas id="bar" class="chart chart-bar"
										data-data="chart2_data" data-labels="chart2_label"
										data-series="chart2_series" data-colours="chart2_colours" >
                </canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- /.content -->




</div>
<!-- /.content-wrapper -->
