<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="utf-8" />
<title>AngularJS Routing</title>
<link rel="stylesheet" href="js1/bootstrap.css"/>
<link rel="stylesheet" href="js1/daterangepicker.css"/>
</head>
<body data-ng-app="MainApp">
	


<div data-ng-controller="TestCtrl">
<input data-date-range-picker="" class="form-control date-picker" type="text" data-ng-model="datePicker.date1" />
</div>

	<script type="text/javascript" src="js1/jquery.js"></script>
	<script type="text/javascript" src="js1/angular.js"></script>
	<script type="text/javascript" src="js1/moment.js"></script>
	<script type="text/javascript" src="js1/daterangepicker.js"></script>
	<script type="text/javascript" src="js1/angular-daterangepicker.js"></script>
	<script type="text/javascript" src="js1/datecheck.js"></script>
	



</body>
</html>