<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="utf-8" />
<title>AngularJS Routing</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/app.css" />
</head>
<body ng-app="MainApp">
	<h1>Angular Js ListMenu Via JSON</h1>

<div ng-controller="ListController">
<h1 style="color: red;" ng-repeat="site in ClickedList">Value==={{ site.value }}</h1>

	<div class="navigation" >

<ul>
			<li ng-repeat="site in ClickedList" class="has-sub">{{ site.siteName }}</li>
				</ul>



		<ul>
			<li ng-repeat="site in SiteList" class="has-sub"><a
				ng-click="doSomething(site.siteId)"
				href="#/site/{{
					site.siteName }}">{{ site.siteName }}</a>

				<ul>
					<li ng-repeat="area in site.area" class="has-sub"><a
						ng-click="doSomething(area.areaId)"
						href="#/area/{{
					area.areaName }}">{{
							area.areaName }}</a>


						<ul>
							<li ng-repeat="asset in area.asset"><a
								ng-click="doSomething(asset.assetId)"
								href="#/asset/{{
					asset.assetName }}">{{
									asset.assetName }}</a></li>
						</ul></li>
				</ul></li>
		</ul>
	</div>
</div>
	<br />



	<div class="panel-heading">Cascading Dropdown using AngularJS and
		MVC5</div>
	<div class="panel-body">
		<div ng-controller="DropdownController">
			<div class="dropdown">
				Country : <select class="btn btn-primary dropdown-toggle"
					ng-model="CountryID"
					ng-options="I.siteId as I.siteName for I in CountryList"
					ng-change="GetState()">
					<option value="">Select Country</option>
				</select> State : <select class="btn btn-primary dropdown-toggle"
					ng-model="StateID"
					ng-options="I.areaId as I.areaName for I in StateList"
					ng-change="GetCity()">
					<option value="">{{StateTextToShow}}</option>
				</select> City : <select class="btn btn-primary dropdown-toggle"
					ng-model="CityID"
					ng-options="I.assetId as I.assetName for I in CityList">
					<option value="">{{CityTextToShow}}</option>
				</select> <input class="btn btn-success" type="button"
					value="Get Selected Values" ng-click="ShowResult()"
					data-toggle="modal" data-target="#myModal" /> <br />
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">

						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Modal Header</h4>
							</div>
							<div class="modal-body" id="myModal">{{Result}}</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
	   
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>-->
	<script type="text/javascript" src="webjars/angularjs/1.6.1/angular.js"></script>
	<script type="text/javascript"
		src="webjars/angularjs/1.6.1/angular-route.js"></script>
	<script type="text/javascript"
		src="webjars/angularjs/1.6.1/angular-resource.js"></script>
	<script type="text/javascript"
		src="webjars/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.js"></script>
	<script type="text/javascript" src="js/appFront.js"></script>
	<script type="text/javascript" src="js/listController.js"></script>
	<script type="text/javascript" src="js/ddController.js"></script>


</body>
</html>